* {
    box-sizing: border-box;
}
.column{
    width: 33.3333%;
    padding: 10px;
    float: left;
    text-align: center;
}
img{
    width: 25%;
    height: auto;
    display: block;
    margin: auto;
}
li{
    color: white;
    display: inline;
    padding: 20px;
}
a.list{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
a#sign-in{
    text-decoration: none;
    border-radius: 20px;
    background-color: red;
    color: black;
    font-size: 14pt;
    padding: 10px;
}
