* {
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.column{
    width: 33.3333%;
    padding: 10px;
    float: left;
    text-align: center;
}
img{
    width: 25%;
    height: auto;
}
li{
    color: white;
    display: inline;
    padding: 20px;
}
a.list{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
a#sign-in{
    text-decoration: none;
    border-radius: 20px;
    background-color: red;
    color: black;
    font-size: 14pt;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
}
.hero_new__video{
    z-index: -1;
    position: absolute;
    width: 100%;
}
nav{
    position: absolute;
}
